{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tiny.cloud/1/nt2kua5xldkr64i9b2hj02fe0tslwnyp7qe203po78zi93qc/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <meta charset="utf-8">

  {% if title %}
  <title>Awward {{title}}</title>
  {% else %}
    <title> Awwards Online </title>
  {% endif %}
  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

</head>
<body>
  {% include "navbar.html" %}
  <hr>

  {% block content %}
  {%endblock%}
  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>
</html>